body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}

.output {
    color: white;
    font-size: 24px;
    text-align: center;
    text-shadow: 0 0 5px rgb(255, 255, 255);
    margin-bottom: 40px;
}

.keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.key {
    border: 4px solid white;
    border-radius: 1px;
    color: white;
    font-size: 20px;
    width: 100px;
    padding: 20px 10px;
    text-align: center;
    margin: 10px;
    text-shadow: 0 0 5px rgb(255, 255, 255);
    transition: all 0.07s;
}

kbd {
    display: block;
    font-size: 40px;
}

.playing {
    transform: scale(1.1);
    border-color: white;
    box-shadow: 0 0 5px white;
}

.sound {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 5px rgb(255, 255, 255);
}